body{
    margin: 20px;
    padding: 1px;
}
.ol-logo{
    height: 50px;
    width: 50px;
    border-radius: 8px;
}
.pics{
    /* height: 500px;
    width: 100%; */
    border-radius: 10px;
    filter: blur(4px);
    filter: drop-shadow(4px);
}
.pics2{
    width: 50%;
    height: 50%;
}
#open{
    background: #193158;
}
.n3{
    background:  #193158;
    color: rgb(14, 14, 14);
}
.uui{
    background: hsl(217, 88%, 90%);
    width: 100%;
}
.eve{
    background: #bad4f56c;
    padding: 10px;
}
.us{
    background: #333D51;
}
.about{
    background: rgba(111, 134, 201, 0.296);
   
}
.contact{
    background: rgba(93, 95, 95, 0.222);
    width: 100%;
    
}
.image{
    height: 50px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 1px 2px white;
}
.us{
    background: #333D51;
}
.top{
    background:#02172230 ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.683),rgba(128, 128, 128, 0.255)), url(images/pexels-didsss-5407054.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9f6f6;
    padding: 150px;
    overflow: hidden;
    width: 100%;
}
@media (max-width:920px) {
    .top{
        padding: 0;
    }

    .bton2{
       display: none;
      
    }
  
}
.ico-dm{
    padding: 10px;

    color: #0C6FFB;
}
.ft{
    background:#333D51;
    color: #b4b4b4;
}
.fa-twitter{
    color: #3c8dff;
}
.fa-facebook{
    color: royalblue;
}
.fa-youtube{
    color: #fc0101;
}
.price{
    /* background:#0066CC; */
    background: #D3AC2B;
    color: #333D51;
}
.w-100{
    color: aliceblue;
}
.pro-free{
    background: #b4b4b4;
}
 a:hover{
    color: #02d673;
    text-decoration: none;
}
a{
    color: #021c46;
}
.our{
    background: #CBD0D8;
}
.lh-1{
    color: #FF9924;
    /* padding: 2px; */
    border: #193158 solid 1px;
    background: #d2dcf1b2;
    font-size: 42px;
}
.main-xy{
    background: #333D51;
}
   .modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


.search-engine {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
}

.result {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.serv{
    padding: 12px;
    background: #193158;
    color: #b4b4b4;

}
cite{
    font-size: 10px;
    opacity: .6;
}
.bton{
    border-radius: 4px;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 50px;
}
.bton2{
    border-radius: 4px;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 175px;
}
.fill{
    background-image: linear-gradient(rgba(255, 255, 255, 0.308),#1931586b) ,url(images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loader{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity 8s visibility 20s;
    
}
.ring{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: hsl(172, 100%, 50%),.3;
    animation: ring 4s linear ;
    -webkit-animation: ring 3s linear ;
}
.loader--hidden{
    opacity: 0;
    visibility: hidden;
}

@keyframes ring {
    0%{
        transform:rotate(0deg);
        box-shadow: 1px 1px 2px 1px #ff6b08;
}
50%{
    transform:rotate(-180deg);
    box-shadow: 1px 1px 2px 1px hsl(202, 100%, 52%);
   
}
75%{
    transform:rotate(180deg);
    box-shadow: 1px 1px 2px 1px #00ff9d;
   
}
100%{
    transform:rotate(-360deg);
    box-shadow: 1px 1px 2px 1px #19ff045d;
   
}
}
.ring::before{
    position: fixed;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(80, 218, 252);

    
}
span{
    line-height: 200px;
    color: #000000;
    font-size: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    animation: text 6s ease linear;
    -webkit-animation: text 3s ease linear;
}
.ny{
    font-size: 12px;
}

@media print{
    .no-print{
        display: none;
        background: #000000;
    }

    h1{
        background: #00ff9d;
    }
}
